/*   TEXT ELEMENTS   */
h1 {
	font-family: 'Merienda', cursive;
	/*margin-left:500px;*/
	position:relative;
	margin-top:70px;
	/*border:1px solid green;*/
	text-align:center;
	padding-top:10px;
}

h2 {
	margin-left:400px;
	margin-top:40px;
	padding-top:5px;
}

h3 {
	margin-left:auto;
	margin-top:auto;
	text-align:center;
	padding:10px;
}

a {
	color:white;
}


/*   BACKGROUND IMAGES   */
.background {
	border-bottom:1px solid grey;
	background-image: url(/static/img/nasty_fabric.png);
	position:relative;
	height:500px;
	padding:50px;
	width: 100%;
}

.background2 {
	border-bottom:1px solid grey;
	background-image: url(/static/img/nasty_fabric.png);
	position:relative;
	margin-top: 10px;
	height:300px;
	padding:50px;
	width: 100%;
}

.low_backgrd {
	background-image: url(/static/img/cream_dust.png);
	position:absolute;
	margin-top: auto;
	height:1000px;
	width: 100%;
}

.container {
	width:auto;
	height:auto;
}


/*  IN THE HEADER  */
header {
	color:#195AAA;
}

header .container {
	background-color:#195AAA;
	/*border:1px solid #3477C9;*/
	height:70px;
}

.navbar-fixed-top {
	border-bottom:1px solid grey;
	display: block;
	height:70px;
}
.navbar-fixed-top .nav {
	float:right;
	z-index:999;
	display:block;
}

.navbar-fixed-top .navbar-inner {
	background-image:url(/static/img/gplaypattern.png);;
	height: 70px;
}
/*.navbar-fixed-top .nav li {
	z-index: 1000;
	display: block;
	line-height:18px;
}*/

.logo {
	float:left;
	margin-top:5px;
	margin-left:10px;
	height:50px;
	width:70px;
}
.collection {
	margin-top: auto;
	margin-bottom: 5px;
	margin-left: 150px;
	/*border:1px solid blue;*/
	text-align:left;
	margin-right: 20px;
}
.nav_right {
	margin-bottom: 5px;
	/*border:1px solid green;*/
	text-align:right;
	margin-right: 20px;
	margin-left: 100px;
}

.navbar-fixed-top .btn_logout {
	/*border:1px solid red;*/
	margin-right: 20px;
	margin-left: 150px;
	margin-top: -4px;
	text-align: right;
}

/*.navbar-fixed-top a {
	border:1px solid red;
	margin-top:auto;
}
*/

/*.text-info {

	padding-top:20px;
}*/



/*  FORMS AND FORMS BUTTONS  */
.form_login {
	border:1px solid grey;
	box-shadow: 5px 5px 15px 5px;
	border-radius: 10px 10px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding-right: 30px;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;	
	height: 150px;
	background-color: white;
}

.form_login .btn {
	/*border: 1px solid red;*/
}

.form_signup {
	border:1px solid #80a0b7;
	border-radius: 10px 10px;
	box-shadow: 5px 5px 15px 5px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	padding-right: 30px;
	padding-left: 10px;	
	padding-top: 20px;
	padding-bottom: 20px;
	height: 300px;
	background-color: white;
}

.form_signup .btn {
	/*border: 1px solid red;*/
	margin-left: 230px;
	margin-top: 10px;
}
.form_signup input {
	margin-left: 20px;
}
.form_signup label {
	margin-left: 30px;
	padding-bottom: 2px;
	padding-top: 5px;
	font-size: 1.1em;
	margin-bottom: 7px;
}

.form_text {
	margin-top:50px;
	margin-left:750px;
	position:relative;
}

.signup_btn {
	margin-left:930px;
	margin-right:auto;
	margin-top:auto;
	padding-top:30px;
	position:absolute;
}

/*.recorder {
	border:1px solid blue;
}*/

.form_login label {
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 5px;
}

.form_text label {
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 5px;
}
ul {
	font-size:1.2em;
}

/*.btn {
	margin-top:100px;
	margin-left:200px;

}*/


/*  POSTS AND COMMENTS/LIKES  */
.post_comments {
	border:1px solid grey;
	width: 500px;
	border-radius: 5px 5px;
	box-shadow: 1px 1px 5px 1px;
	margin-left: 5px;
	margin-top: 7px;
	padding-left: 20px;
	padding-top: 20px;
}

.post_text {

}

.audio_player {

}

.post_like {

}

.nb_comments {

}

.text_comments {

}

.delete_comment {

}