
h1 {
	
	/*margin-left:500px;*/
	position:relative;
	margin-top:70px;
	/*border:1px solid green;*/
	text-align:center;
	padding-top:10px;
}

h2 {
	margin-left:50px;
	margin-top:40px;
	padding-top:5px;
}

h3 {
	margin-left:auto;
	margin-top:auto;
	text-align:center;
	padding:10px;
}

a {
	color:white;
}

.background {
	border-bottom:1px solid grey;
	background-image: url(/static/img/nasty_fabric.png);
	position:relative;
	height:500px;
	padding:50px;
	width: 100%;
}

.background2 {
	border-bottom:1px solid grey;
	background-image: url(/static/img/nasty_fabric.png);
	position:relative;
	height:200px;
	padding:50px;
	width: 100%;
}

.container {
	width:auto;
	height:auto;
}

.navbar-fixed-top {
	border-bottom:1px solid purple;
	height:70px;
	background-color:#195AAA;
}

.logo {
	margin-top:5px;
	margin-left:10px;
	height:50px;
	width:70px;
}
.collection {
	margin-bottom: 5px;
	border:1px solid blue;
	text-align:center;
}
.nav_right {
	margin-bottom: 5px;
	border:1px solid green;
	text-align:right;
	margin-right: 40px;
	
}


/*.navbar-fixed-top .btn_logout {
	border:1px solid red;
}
*/

/*.navbar-fixed-top a {
	border:1px solid red;
	margin-top:auto;
}
*/
.low_backgrd {
	background-image: url(/static/img/cream_dust.png);
	position:absolute;
	margin-top: auto;
	height:300px;
	width: 100%;
}
/*.text-info {

	padding-top:20px;
}*/

.form_login {
	border:1px solid grey;
	box-shadow: 5px 5px 15px 5px;
	border-radius: 10px 10px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding-right: 30px;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;	
	height: 150px;
	background-color: white;
}

.form_login .btn {
	/*border: 1px solid red;*/
}

.form_signup {
	border:1px solid #80a0b7;
	border-radius: 10px 10px;
	box-shadow: 5px 5px 15px 5px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	padding-right: 30px;
	padding-left: 10px;	
	padding-top: 20px;
	padding-bottom: 20px;
	height: 300px;
	background-color: white;
}

.form_signup .btn {
	/*border: 1px solid red;*/
	margin-left: 230px;
	margin-top: 10px;
}
.form_signup input {
	margin-left: 20px;
}
.form_signup label {
	margin-left: 30px;
	padding-bottom: 2px;
	padding-top: 5px;
	font-size: 1.1em;
	margin-bottom: 7px;
}

.form_text {
	margin-top:50px;
	margin-left:720px;
	position:relative;
}

.signup_btn {
	margin-left:930px;
	margin-right:auto;
	margin-top:auto;
	padding-top:30px;
	position:absolute;
}

/*.recorder {
	border:1px solid blue;
}*/

.form_login label {
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 5px;
}

.form_text label {
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 5px;
}
ul {
	font-size:1.2em;
}

/*.btn {
	margin-top:100px;
	margin-left:200px;

}*/

.sound_player {
	border:1px solid purple;
}