
h1 {
	
	/*margin-left:500px;*/
	position:relative;
	margin-top:70px;
	/*border:1px solid green;*/
	text-align:center;
	padding:10px;
}

h2 {
	margin-left:50px;
	margin-top:70px;
	padding:5px;
}

h3 {
	margin-left:auto;
	margin-top:auto;
	text-align:center;
}

.background {
	/*border:1px solid grey;*/
	background-image: url(/static/img/nasty_fabric.png);
	position:relative;
	height:500px;
}

.container {
	width:auto;
	height:auto;
}

.navbar-fixed-top {
	/*position: floating;*/
	border:1px solid grey;
	height:70px;
	background-color:#80a0b7;
}

/*.body_page {
	border:1px solid green;
}*/

.logo {
	margin-top:5px;
	margin-left:10px;
	height:50px;
	width:70px;
}

.navbar-fixed-top .nav_right {
	text-align:right;
	margin-top: auto;
	margin-right: 40px;
	
}

.btn_logout {
	
	border:1px solid red;

}

/*.text-info {

	padding-top:20px;
}*/

.title_span {
	/*border:1px solid red;*/
	margin-left: auto;
	margin-top: auto;
	padding: 10px;
	width: 200px;
}
	
.tasklist {	
	/*border:1px solid blue;*/
	margin-left: 300px;
	margin-top: 50px;
	padding: 10px;
	width: 500px;
}

.form_login {

	border:1px solid grey;
	box-shadow: 5px 5px 15px 5px;
	border-radius: 10px 10px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding-right: 30px;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;	
	height: 150px;
	background-color: white;
}

.signup_btn {
	margin-left:700px;

}


.form_signup {
	border:1px solid #80a0b7;
	border-radius: 10px 10px;
	box-shadow: 5px 5px 15px 5px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	padding-right: 30px;
	padding-left: 10px;	
	padding-top: 20px;
	padding-bottom: 20px;
	height: 300px;
	background-color: white;
}

.recorder {
	background-color: white;
	margin-top: 30px;
	padding: 20px;
	height: 200px;
	/*width: 800px;*/
}

form label {
	padding-left: 60px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 5px;
}

ul {
	font-size:1.2em;
}

.tasklist input {
	margin-right:10px;
}

.btn {
	margin-top:100px;
	margin-left:200px;

}