{% extends "layout.html" %}
{% block body %}

<div class="navbar-fixed-top">
	<div class="logo">
	<a class="brand" href="{{url_for("index")}}">
		<img src="static/img/logo.png" alt="logo">
    </a></div>
	<ul class="nav">	
		<li><div class="collection">
			<a href="{{url_for("all_collections")}}">All collections</a>
		</div></li>
	</ul>
</div>

<div class="background">
<h2>About wORDsana</h2>
<p>
<strong>wORDsana is a web app that allows you to make your one collection of words and sounds.</strong> <br>
You can log in, record yourself and listen to other people's collections!
<br><br>
word = <strong>ord</strong> <em>in Swedish (Svenska), Norwegian (Norsk) and Danish (Dansk)</em><br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
= <strong>sana</strong> <em>in Finnish (Suomi) </em>
<br><br>
<strong>Why Swedish, Norwegian, Danish and Finnish?</strong><br>
... Well, "ord" and "sana" look nice and go well together (in my opinion).
</p>
</div>
<div class="low_backgrd">
</div>

{% endblock %}