{% extends "layout.html" %}
{% block body %}
<header>
<div class="navbar-fixed-top">
	<div class= "navbar-inner">
		<div class="container">
			<div class="logo">
				<a class="brand" href="{{url_for("index")}}">
					<img src="static/img/logo.png" alt="logo">
					<span style="font-family:'Merienda', cursive;font-size: 28px; margin-top:-40px; margin-left: 400px; display: block; width: 130px;">
						wORDsana 
					</span>
				</a>
			</div>
    	<nav>
    		<ul id="nav" class="nav">
				
				<!-- <li class="vertical-divider"></li> -->
				<li class="nav_right"><a href="{{url_for("about")}}">About</a>
				</div></li>
			</ul>
		</nav>
		</div>
	</div>
</div>
</header>



<div class="background2">

	<h2>All sound collections on wORDsana</h2>

</div> 
<div class="low_backgrd">

{% for post in posts %}

<div class="sound_player">
<li> <strong>{{ post.text }}</strong>, posted on {{ post.posted_at}}
	<object width="142" height="60" data="/get_audio/{{ post.id }}">
	</object>
	<form method='POST'>
		<input type="submit" value="Like" class="btn btn-success"></input>
		<textarea rows="2" name="comment" placeholder="Add a comment"></textarea>
		<input type="submit" value="Comment" class="btn btn-inverse"></input>
	</form>
</li>
</div>

{% endfor %}

	<div class="new_sound_btn">
	<a class="btn btn-large btn-inverse" href="{{url_for("enter_text")}}"> Create a new sound! </a>
	</div>
</div>
<!-- </div> -->

{% endblock %}