{% extends "layout.html" %}
{% block body %}

<header>
<div class="navbar-fixed-top">
	<div class= "navbar-inner">
		<div class="container">
			<div class="logo">
				<a class="brand" href="{{url_for("index")}}">
					<img src="static/img/logo.png" alt="logo">
					<span style="font-family:'Merienda', cursive;font-size: 28px; margin-top:-40px; margin-left: 400px; display: block; width: 130px;">
						wORDsana 
					</span>
				</a>
			</div>
    	<nav>
    		<ul id="nav" class="nav">
				<li class="collection"><a href="{{url_for("all_collections")}}">All collections</a>
				</li>
				<li class="nav_right"><a href="{{url_for("settings")}}">Settings</a>
				</li>
				<li><div class="btn_logout">
				<a href="{{url_for("logout")}}" class="btn btn-mini btn-primary">Log out</a>
			</div></li>
			</ul>
		</nav>
		</div>
	</div>
</div>
</header>


<div class="background2">

<h1> Enjoy your collection! </h1>

</div> 
<div class="low_backgrd">

	{% for row in rows %}
	
	<div class="sound_player">

		<strong>{{ row.text }}</strong>, posted {{ row.posted_at | pretty_date}}

			{# Sound player #}
			{# use the audio tag! It works in Chrome (but pb in FF)#}
			<audio controls="controls" width="142" height="70" >
			 <source src="/get_audio/{{ row.id }}" type="audio/wav">
			</audio>

			{# should be able to edit the posts #}

			{# Add Like #}
				{% if row.like == False %}	
					<div class="btn_like">
						<form method='POST' action="/add_like/{{row.id}}">
							<input type="submit" value="Like" class="btn btn-success"></input>
						</form>
					</div>
				{% else %}
						<div class="btn">Liked</div>
				{% endif %}	


			{# Count Comments #}
			{{ row.comments | length}} Comments

			{#  Display text_comments added #}
				
				{% for comment in row.comments %}
					
				<ul>				
					<li>commented {{comment.posted_at | pretty_date}} : <strong>{{comment.text}}</strong></li>
				</ul>
					{# Delete text Comment #}
					<form method='POST' action="{{url_for("delete_comment", com_id=comment.id)}}">
						<input type="submit" value="Delete comment" class="btn"></input>
					</form>
				{% endfor %}
				

			{# Add text Comment #}
			<form method='POST' action="/add_text_comment/{{row.id}}">
				<textarea rows="2" name="text_comment" placeholder="Add a comment"></textarea>
				<input type="submit" value="Comment" class="btn btn-inverse"></input>
			</form>

		
	</div>
	{% endfor %}

	<div class="new_sound_btn">
	<a class="btn btn-large btn-inverse" href="{{url_for("enter_text")}}"> Create a new sound! </a>
	</div>
</div>
<!-- </div> -->

{% endblock %}