{% extends "layout.html" %}
{% block body %}

<header>
<div class="navbar-fixed-top">
	<div class= "navbar-inner">
		<div class="container">
			<div class="logo">
				<a class="brand" href="{{url_for("index")}}">
					<img src="static/img/logo.png" alt="logo">
					<span style="font-family:'Merienda', cursive;font-size: 28px; margin-top:-40px; margin-left: 400px; display: block; width: 130px;">
						wORDsana 
					</span>
				</a>
			</div>
    	<nav>
    		<ul id="nav" class="nav">
				<li class="collection"><a href="{{url_for("all_collections")}}">All collections</a>
				</li>
				<!-- <li class="vertical-divider"></li> -->
				<li class="nav_right"><a href="{{url_for("about")}}">About</a>
				</li>
			</ul>
		</nav>
		</div>
	</div>
</div>
</header>

<div class="page_body">
	<!-- <div class="container-fluid"> -->
		
			<div class="background">

			<h1>Welcome to wORDsana !</h1>
				<br>
				
				<h3>Log in, record yourself and listen to other people's collections!</h3>

				<div class="row-fluid">
					<div class="span4">
				<div class="login_btn">
					<a class="btn btn-large btn-info" href="{{url_for("log_in")}}"> Log in </a>
				</div></div>
					<div class="span4 offset4">
				<div class="signup_btn">
					<a class="btn btn-large btn-inverse" href="{{url_for("sign_up")}}"> Sign Up </a>
				</div></div>
				</div>
			</div>
	<!-- </div> -->
	
	<div class="title_collections">
	<h1>All sound collections on wORDsana</h1>
	</div>

{% if user_id %}
			<a class="btn btn-large btn-inverse" href="{{url_for("display_collection")}}"> Back to your collection </a>
	{% endif %}



{% for post in posts %}

	<div class="post_comments">
		
		<strong>{{ post.text }}</strong>, posted on {{ post.posted_at | pretty_date}}
		{# Sound player #}
		{# use the audio tag! It works in Chrome (but pb in FF)#}
			<audio controls="controls" width="142" height="70" >
				<source src="/get_audio/{{ post.id }}" type="audio/wav">
			</audio>
		{# Add Like #}
			{% if post.like == False %}	
				<div class="btn_like">
					<form method='POST' action="/add_like/{{post.id}}">
						<input type="submit" value="Like" class="btn btn-success"></input>
					</form>
				</div>
			{% else %}
					<div class="btn">Liked</div>
			{% endif %}	

		{# Count Likes #}	

		{# Add text Comment #}
			<form method='POST' action="/add_text_comment/{{post.id}}">
				<textarea rows="2" name="text_comment" placeholder="Add a comment"></textarea>
				<input type="submit" value="Comment" class="btn btn-inverse"></input>
			</form>

		{# Count Comments #}
		{{ post.comments | length}} Comments

		{#  Display text_comments added #}
			<ul>
				{% for comment in post.comments %}				
					<li>commented {{comment.posted_at | pretty_date}} by {{ comment.user_id }} : 
						<strong>{{comment.text}}</strong></li>
				{% endfor %}
			</ul>
	</li>
	</div>

{% endfor %}

	
</div>

{% endblock %}