<!doctype html>

<!-- layout template adapted from Tipsy and WAMI recorder index.html-->

<html>
	<head>
		<meta charset="utf-8">
		<title>wORDsana - your words, your way</title>
		<link rel="stylesheet" href="static/css/bootstrap.css"
		type="text/css">
		<link rel="stylesheet" href="static/css/project.css"
		type="text/css">

	<!-- Code needed to embed the recorder -->

		<!-- swfobject is a commonly used library to embed Flash content -->
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

	<!-- Setup the recorder interface -->
	<script type="text/javascript" src="static/recorder.js"></script>

	<!-- GUI code... take it or leave it -->
	<script type="text/javascript" src="static/gui.js"></script>

	<script>
		function setupRecorder() {
			Wami.setup({
				id : "wami",
				onReady : setupGUI
			});
		}

		function setupGUI() {
			var gui = new Wami.GUI({
				id : "wami",
				recordUrl : "https://wami-recorder.appspot.com/audio",
				playUrl : "https://wami-recorder.appspot.com/audio"
			});

			gui.setPlayEnabled(false);
		}
	</script>
	</head>

	<body onload="setupRecorder()">
		<!-- <div class="container"> -->
		{% block body %}{% endblock %}
		<!-- </div> -->
	</body>
</html>