<!doctype html>
<!--  -->
<!-- layout template adapted from Tipsy and WAMI recorder index.html-->

<html>
	<head>
		<meta charset="utf-8">
		<title>wORDsana - your words, your way</title>
		<link href='http://fonts.googleapis.com/css?family=Merienda' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="static/css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="static/css/project.css" type="text/css">

		{% with messages = get_flashed_messages() %}
  			{% if messages %}
    			<ul class=flashes>
    			{% for message in messages %}
     				 <li>{{ message }}</li>
    			{% endfor %}
   				 </ul>
  			{% endif %}
		{% endwith %}

	</head>

	<body>
		<div class="container">
		{% block body %}{% endblock %}
		</div>
	</body>
</html>