{% extends "layout.html" %}
{% block body %}

	<div class="navbar-fixed-top">
		<ul class="nav">
			<li class="active">
				<div class="logo">
					<img src="static/img/logo2.png">
				</div>
			</li>
			<li>
				<div class="nav_right">
				<a href="/about">About</a></li>
				</div>
		</ul>
	</div>
<div class="background">
	<!-- <div class="body_page">  -->
<h1>Willkommen, Bienvenue, Welcome!</h1>  

<div class="form_login">
        <form method="POST" action="{{ url_for("authenticate")}} ">
        	<label> email </label>
        	<input type="text" name="email" placeholder="enter your email here"></input>
        	<label> password </label>
        	<input type="password" name="password" placeholder="enter your password here"></input>
        	<input type="submit" value="Log in"></input>
        </form>
</div>

<div class="signup_btn">
	<a class="btn btn-large btn-inverse" href="/sign_up"> Sign Up </a>
</div>
	<!-- </div> -->
</div>
{% endblock %}