{% extends "layout.html" %}
{% block body %}

<header>
<div class="navbar-fixed-top">
	<div class= "navbar-inner">
		<div class="container">
			<div class="logo">
				<a class="brand" href="{{url_for("index")}}">
					<img src="static/img/logo.png" alt="logo">
					<span style="font-size: 24px; margin-top:-40px; margin-left: 400px; display: block; width: 130px;">
						wORDsana 
					</span>
				</a>
			</div>
    	<nav>
    		<ul id="nav" class="nav">
				<li class="collection"><a href="{{url_for("all_collections")}}">All collections</a>
				</li>
				<!-- <li class="vertical-divider"></li> -->
				<li class="nav_right"><a href="{{url_for("about")}}">About</a>
				</li>
			</ul>
		</nav>
		</div>
	</div>
</div>
</header>

<div class="background">
	<!-- <div class="body_page">  -->
<h1>Willkommen, Bienvenue, Welcome!</h1>  

<div class="form_login">
        <form method="POST" action="{{ url_for("authenticate")}} ">
        	<label> email </label>
        	<input type="text" name="email" placeholder="enter your email here"></input>
        	<label> password </label>
        	<input type="password" name="password" placeholder="enter your password here"></input>
        	<input type="submit" value="Log in" class="btn"></input>
        </form>
</div>
</div>

<div class="low_backgrd">
<div class="signup_btn">
	<a class="btn btn-large btn-inverse" href="{{url_for("sign_up")}}"> Sign Up </a>
</div>
</div>
	<!-- </div> -->

{% endblock %}