{% extends "layout.html" %}
{% block body %}

<div class="navbar-fixed-top">
	<div class="logo">
	<a class="brand" href="{{url_for("index")}}">
		<img src="static/img/logo.png" alt="logo">
    </a></div>
		<ul class="active">
			<li>
				<div class="nav_right"><a href="{{url_for("about")}}">About</a></div>
			</li>
			<li>
				<div class="collection"><a href="{{url_for("all_collections")}}">All collections</a></div>
			</li>
		</ul>
</div>

<div class="background">
<h2>Your settings</h2>
<ul>
	<li> <strong>Username</strong>: {{username}} </li>
	<li> <strong>Email</strong>: {{email}} </li>
</ul>

<form method="POST" action="{{url_for("save_new_password")}}">
	<label>Change your password</label>
	<input type="password" name="new_password" placeholder="type your new password"></input>
	<input type="submit" value="Submit"></input>
</form>

</div>

<div class="low_backgrd">
<a href="{{url_for("enter_text")}}" class="btn btn-primary">Back to your page</a>
</div>

{% endblock %}