{% extends "layout.html" %}
{% block body %}
<header>
<div class="navbar-fixed-top">
    <div class= "navbar-inner">
        <div class="container">
            <div class="logo">
                <a class="brand" href="{{url_for("index")}}">
                    <img src="static/img/logo.png" alt="logo">
                    <span style="font-size: 24px; margin-top:-40px; margin-left: 400px; display: block; width: 130px;">
                        wORDsana 
                    </span>
                </a>
            </div>
        <nav>
            <ul id="nav" class="nav">
                <li class="collection"><a href="{{url_for("all_collections")}}">All collections</a>
                </li>
                <!-- <li class="vertical-divider"></li> -->
                <li class="nav_right"><a href="{{url_for("about")}}">About</a>
                </li>
            </ul>
        </nav>
        </div>
    </div>
</div>
</header>


<div class="background">
<h2>Get started with wORDsana!</h2>
<h3>Sign up NOW!</h3>

<div class="form_signup">
        <form method="POST" action="{{ url_for("new_user")}}">
        	<label><strong>username</strong></label>
        	<input type="text" name="username" placeholder="Choose a username"></input>
        	<label><strong>email</strong></label>
        	<input type="text" name="email" placeholder="Enter your email address"></input>
        	<label><strong>password</strong> (5 characters minimum)</label> 
        	<input type="password" name="password1" placeholder="Choose a password"></input>
        	<input type="password" name="password2" placeholder="Please, retype your password"></input>
        	<input type="submit" value="Sign Up" class="btn"></input>
        </form>
</div>
</div>
<div class="low_backgrd">
</div>

{% endblock %}