{% extends "layout.html" %}
{% block body %}

<h2>Get started with wORDsana =)</h2>
<h3>Sign up NOW!</h3>

<div class="form_login">
        <form method="POST" action="{{ url_for("new_user")}}">
        	<label> username </label>
        	<input type="text" name="username" placeholder="Choose a username"></input>
        	<label> email </label>
        	<input type="text" name="email" placeholder="Enter your email address"></input>
        	<label> password </label> (5 characters or more)
        	<input type="password" name="password1" placeholder="Choose a password"></input>
        	<input type="password" name="password2" placeholder="Please, retype your password"></input>
        	<input type="submit" value="Sign Up"></input>
        </form>

</div>

{% endblock %}