{% extends "layout.html" %}

{% block body %}

<!-- <div onload="setupRecorder()"> -->
<div onload="setupGUI">
	
	<div id="wami" style="margin-left: 100px;">
	<div style="position: absolute;z-index: 99999;" id="wid2e0a37d9732">
		<object type="application/x-shockwave-flash" data="static/Wami.swf" width="214" height="137" id="wid38a3b2e21fb"  style="visibility: visible; border: 1px solid green;">
			<param name="allowScriptAccess" value="true">
			<param name="flashvars" value="true">
		</object>
	</div>
	</div>
</div>
<!-- </div> -->

{% endblock %}