<!doctype html>

<!-- layout template adapted from Tipsy and WAMI recorder index.html-->

<html>
	<head>
		<meta charset="utf-8">
		<title>wORDsana - your words, your way</title>
		<link rel="stylesheet" href="/static/css/bootstrap.css"
		type="text/css">
		<link rel="stylesheet" href="/static/css/project.css"
		type="text/css">

		{% with messages = get_flashed_messages() %}
  			{% if messages %}
    			<ul class=flashes>
    			{% for message in messages %}
     				 <li>{{ message }}</li>
    			{% endfor %}
   				 </ul>
  			{% endif %}
		{% endwith %}

	<!-- Code needed to embed the recorder -->

		<!-- swfobject is a commonly used library to embed Flash content -->
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

	<!-- Setup the recorder interface -->
	<script type="text/javascript" src="/static/recorder.js"></script>

	<!-- GUI code... take it or leave it -->
	<script type="text/javascript" src="/static/gui.js"></script>

	<script>
		function setupRecorder() {
			Wami.setup({
				id : "wami",
				onReady : setupGUI,
				swfUrl: "/static/Wami.swf"
			});
		}

		function setupGUI() {
			var gui = new Wami.GUI({
				id : "wami",
				recordUrl : "http://127.0.0.1:5000/record/{{id}}",
				playUrl : "http://127.0.0.1:5000/get_audio/{{id}}"
			});

			gui.setPlayEnabled(false);
		}
	</script>
	</head>

	<body onload="setupRecorder()">
		<div class="container">

	<div class="navbar-fixed-top">
		<a class="brand" href="{{url_for("index")}}">
			<div class="logo">
                <img src="/static/img/logo2.png" alt="logo">
            </div>
        </a>
		<ul class="nav">
			<li class="active">
                <li><div class="nav_right"><a href="{{url_for("settings")}}" align="right">Settings</a></div></li>	
                <li><div class="collection">
				<a href="{{url_for("all_collections")}}">All collections</a>
				</div></li>
				<li><div class="btn_logout"><a href="{{url_for("logout")}}" class="btn btn-primary">Log out</a></div></li>
			</li>
		</ul>
	</div>

<div class="background">

<h2>User 's collection of words</h2>



<h3> Step 2: Record yourself </h3>

<!-- <div onload="setupRecorder()"> -->

<div onload="setupGUI">
	<div class="row">
	<div id="wami" class="span4" style="margin-left: 200px;" >

	</div>
	</div>
</div>
</div>

<div class="low_backgrd">
	<div class="collection_btn">
	<a class="btn btn-large btn-inverse" href="{{url_for("display_collection")}}"> View collection </a>
	</div>
</div> 

		</div>
	</body>
</html>