<!doctype html>

<!-- layout template adapted from Tipsy and WAMI recorder index.html-->

<html>
	

		<!-- swfobject is a commonly used library to embed Flash content -->
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

	<!-- Setup the recorder interface -->
	<script type="text/javascript" src="/static/recorder.js"></script>

	<!-- GUI code... take it or leave it -->
	<script type="text/javascript" src="/static/gui.js"></script>

	<script>
		function setupRecorder() {
			Wami.setup({
				id : "wami",
				onReady : setupGUI,
				swfUrl: "/static/Wami.swf"
			});
			// Wami.setSettings({'sampleRate':16000, 'allrates':true, 'rate': 16000});
		}

		function setupGUI() {
			var gui = new Wami.GUI({
				id : "wami",
				recordUrl : "http://127.0.0.1:5000/record/{{id}}",
				playUrl : "http://127.0.0.1:5000/get_audio/{{id}}"
			});

			gui.setPlayEnabled(false);
		}
	</script>
	</head>

	<body onload="setupRecorder()">
		<div id="wami"></div>
	</body>
</html>