{% extends "layout.html" %}
{% block body %}

	<div class="navbar-fixed-top">
		<a class="brand" href="/">
			<div class="logo">
                <img src="static/img/logo2.png" alt="logo">
            </div>
        </a>
		<ul class="nav">
			<li class="active">
                <li><div class="nav_right"><a href="/settings" align="right">Settings</a></div></li>	

				<li><div class="btn_logout"><a href="/logout" class="btn btn-primary">Log out</a></div></li>
			</li>
		</ul>
	</div>



<div class="background">

<h2>User 's collection of words</h2>



<h3> Step 1: write a post </h3>

<div class="form_text">
	<form class="span5" method="POST" action="/user_page2">
		<input type="textarea" name="text" placeholder="write something here"></input>
		<input type="submit" value="Add to collection" class="btn btn-inverse"></input>
	</form>
</div>
</div>

<div class="low_backgrd">
</div>
<!-- </div> -->

{% endblock %}