{% extends "layout.html" %}
{% block body %}

	<div class="navbar-fixed-top">
		<ul class="nav">
            <li class="active">
				<div class="logo">
				<img src="static/img/logo2.png">
				</div>
			</li>
			<li>
                <div align="right">
                <a href="/about">Settings</a></li>
                </div>
            </li> 
			<li>
				<div class="btn_logout">
				<a href="/logout" class="btn btn-success">Log out</a>
				</div>
			</li>
		</ul>
	</div>

<div class="background">

<h2>User 's collection of words</h2>



<h3> Step 2: Record yourself </h3>

<div class="recorder">
<!-- <div onload="setupRecorder()"> -->
<div onload="setupGUI">
	<div class="row">
	<div id="wami" class="span4" style="margin-left: 200px;">
	{#<div style="position: absolute;z-index: 99999;" id="wid2e0a37d9732">
		<object type="application/x-shockwave-flash" data="static/Wami.swf" width="214" height="137" id="wid38a3b2e21fb"  style="visibility: visible; border: 1px solid grey;">
			<param name="allowScriptAccess" value="true">
			<param name="flashvars" value="true">
		</object>
	</div>#}
	</div>
</div>
</div>

<!-- </div> -->

{% endblock %}